@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import "tailwindcss";

@theme {
  --color-blue: #7AB1F5;
  --color-black: #050505;
  --color-gray: #55504E;
  --color-columbia: #D6E8FF;
  --color-powder: #F1F5F2;
}

body * {
  font-family: "Poppins";
}